* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/bcmainimg.jpg);
    background-position: fixed;
    overflow: hidden;
}

#Main-start-cont {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50vh;
    height: 50vh;
    margin: auto;
    overflow: hidden;
    border: 1px solid rgb(8, 8, 6);
    border-radius: 50%;
    box-shadow: 4px 4px 4px black;
}

#upper {
    background-color: red;
    opacity: 0.8;
    width: 100%;
    height: 50%;
    border-bottom: 5px solid black;
}

#click {
    position: absolute;
    height: 9vh;
    width: 9vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border: 5px solid black;
    border-radius: 50%;
    margin: auto;
}

#click:hover {
    background: rgba(8, 8, 8, 0.854);
}

#lower {
    border-top: 5px solid black;
    width: 100%;
    height: 50%;
    background-color: aliceblue;
}