* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-image: url(../img/halftone-yellow.png);
    overflow: hidden;
    background-repeat: repeat;
}

#pokeball {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border: 1px solid rgb(8, 8, 6);
    border-radius: 50%;
    box-shadow: 15px 15px 15px black;
    opacity: 0.8;
}

#upper {
    background-color: red;
    width: 100%;
    height: 50%;
    border-bottom: 10px solid black;
    display: flex;
    align-items: center;
}

#click {
    position: absolute;
    height: 9vh;
    width: 9vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border: 8px solid black;
    border-radius: 50%;
    margin: auto;
}

#click:hover {
    background: rgba(8, 8, 8, 0.854);
    transition: 1s;
}

#lower {
    border-top: 10px solid black;
    width: 100%;
    height: 50%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
}

#divMe {
    border-radius: 50%;
    border: 5px solid black;
    background: black;
    position: relative;
    margin: auto;
    display: none;
    opacity: 0.0;
    background-image: url(../img/mjZdj.png);
    background-size: cover;
    background-position-x: -2vh;
}

.buttonsStart {
    border-radius: 50%;
    border: 5px solid black;
    margin: auto;
    transform: translateY(-30%);
    display: none;
    opacity: 0;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#about {
    background-image: url(../img/about_me.png);
}

#about:hover {
    background: rgba(8, 8, 8, 0.854);
    transition: 200;
}

#portfolio {
    background-image: url(../img/game.png);
}

#portfolio:hover {
    background: rgba(8, 8, 8, 0.854);
    transition: 200;
}

#cv {
    background-size: 75%;
    background-image: url(../img/phone.png);
}

#cv:hover {
    background: rgba(8, 8, 8, 0.854);
    transition: 200;
}

#headPageAbout {
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 20vh;
    background: rgba(61, 212, 61, 0.774);
    position: relative;
    opacity: 0;
}

#pageAbout {
    position: relative;
    background: rgba(235, 235, 211, 0.966);
    margin: 0 auto;
    opacity: 0;
    padding: 1vh 3vh 0vh;
    font-size: 1.5em;
    overflow: auto;
}

#pageGame {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    background-color: blue;
    border: solid 20px blue;
}

#pageKon {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#pageInnerKon {
    text-align: center;
    border: 2px solid black;
    background-color: rgba(235, 235, 211, 0.966);
    font-size: 2em;
    padding-top: 3vh;
}

#back {
    background-color: red;
    position: absolute;
    top: 0;
}

@media screen and (orientation: landscape) {
    #pokeball {
        width: 60vh;
        height: 60vh;
    }
    #click {
        height: 9vh;
        width: 9vh;
    }
    #divMe {
        height: 25vh;
        width: 25vh;
    }
    .buttonsStart {
        height: 11vh;
        width: 11vh;
    }
    #back {
        width: 6vh;
        height: 6vh;
    }
    #pageAbout {
        width: 80vh;
        height: 80vh;
    }
    #pageInnerKon {
        width: 80vh;
        height: 80vh;
        border-radius: 30%;
    }
}

@media screen and (orientation: portrait) {
    #pokeball {
        width: 60vw;
        height: 60vw;
    }
    #click {
        height: 9vw;
        width: 9vw;
    }
    #divMe {
        height: 25vw;
        width: 25vw;
    }
    .buttonsStart {
        height: 11vw;
        width: 11vw;
    }
    #pageAbout {
        width: 100vw;
        height: 80vh;
    }
    #pageInnerKon {
        width: 100vw;
        height: 90vh;
        margin-top: 20px;
        border-radius: 5%;
    }
    #back {
        height: 5vh;
        width: 5vh;
    }
}