* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/bcmainimg.jpg);
    background-position: fixed;
    overflow: hidden;
}

#pokeball {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60vh;
    height: 60vh;
    margin: auto;
    overflow: hidden;
    border: 1px solid rgb(8, 8, 6);
    border-radius: 50%;
    box-shadow: 4px 4px 4px black;
}

#upper {
    background-color: red;
    opacity: 0.8;
    width: 100%;
    height: 50%;
    border-bottom: 10px solid black;
    display: flex;
    align-items: center;
}

#click {
    position: absolute;
    height: 9vh;
    width: 9vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border: 5px solid black;
    border-radius: 50%;
    margin: auto;
}

#click:hover {
    background: rgba(8, 8, 8, 0.854);
    transition: 1s;
}

#lower {
    border-top: 10px solid black;
    width: 100%;
    height: 50%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
}

#divMe{
height: 25vh;
width: 25vh;
border-radius: 50%;
border: 5px solid black;
background: blue;
position: relative;
margin:  auto;
display: none;
opacity: 0.0;
background-image: url(../img/mjZdj.png);
background-size: contain;
}

.buttonsStart{
    height: 11vh;
    width: 11vh;
    border-radius: 50%;
    border: 5px solid black;
    margin: auto;
    transform: translateY(-30%);
    display: none;
    opacity: 0;
}

#headPageAbout{
    width: 100vw;
    height: 20vh;
    background: rgba(61, 212, 61, 0.774);
    position: relative;
    opacity: 0;
}

#pageAbout{
    width:80vh;
    height: 80vh;
    position: relative;
    background: rgba(235, 235, 211, 0.979);
    margin: 0 auto;
    opacity: 0;
}